/vendor
/node_modules
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
.env
.user.ini
/bootstrap/cache
/storage/app/public/clients
database/database.sqlite
/storage/app/cache_files
/storage/app/manifests
/storage/app/cache/manifests
/storage/app/cache/patches
public/manifest.json
/tests/performance/results
/storage/app/cache
